html{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Jockey One';
}

body{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                      url(https://i.gifer.com/UEsS.gif);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px 75px;
    
}

.logo-text{
    font-family: 'Jolly Lodger';
}


content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap : 50px;
   
}

nav{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Jolly Lodger';
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 84px;
    color: rgb(228, 228, 228);
    padding-top: 100px;
    margin-bottom: 0px;
}

h2{
    font-family: 'Jolly Lodger';
    font-size: 42px;
    margin: 14px 0px;
    color : rgb(228, 228, 228);
  
}

h3{
    font-size: 28px;
    margin: 14px;
    margin-bottom: 9px;
    color : rgb(228, 228, 228);
   
}

p{
    color : rgb(228, 228, 228);
    word-wrap: break-word;
    margin-bottom: 0px;
    margin-left: 14px;
}

a{
    margin : 15px;
    padding: 5px;
    font-size: 28px;
    color : rgb(228, 228, 228);
    text-decoration: none;

}

a:hover{
   color : rgb(109, 109, 109);
}

.play-button{
    display: inline-flex;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    padding: 10px 30px;
    margin : 50px;
    margin-bottom: 100px;
    width : 140px;
    justify-content: space-between;
    align-content: center;
    line-height: 1;
    
}

.play-button:hover{
    background-color : rgb(109, 109, 109);
    border: 1px solid rgb(109, 109, 109);
    color: rgb(228, 228, 228) ;
}

video{
    display: inline-flex;
    border: 1px dashed rgb(228, 228, 228);
    margin : 20px;
}
.h-separator{
    margin : 25px 100px;
    border: 1px solid rgb(228, 228, 228);
}

.medium-h-separator{
    border: 1px solid rgb(228, 228, 228);
    margin-top: 5px;
}
.small-h-separator{
    display: flex;
    border: 1px solid rgb(228, 228, 228);   
}

.dot-left {
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    margin-bottom: -10px;
    
}

.dot-right {
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    margin-bottom: -10px;
    margin-left : 150px
    
}


.dot-middle {
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    margin-bottom: -10px;
    align-self: center;
    
}

    
.mechanic-desc{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

video{
    margin:0px;
    margin-left: 30px;
    padding: 10px;
}

.mechanic-desc-text{
    display: inline-flex;
    flex-direction: column;
    width: 460px;
}

.story-desc{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.story-desc-img{
    padding-right: 10px;
}

.story-desc-text{
    display: inline-flex;
    flex-direction: column;
    width: 480px;
    margin-left: 40px;
}

.summary-desc{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.summary-desc-text{
    display: inline-flex;
    flex-direction: column;
    width: 740px;
}

.summary-desc-img{
    align-self: center;
    margin : 40px;
    margin-bottom:100px;
}

ul{
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
}

.member-info-left{
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 50px;
}

.member-info-right{
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 50px;
}
.member-text{
    width: 150px;
    align-self: center;
    margin-right: 50px;
    margin-left: 50px;
}

.member-pic{
    display: inline-flex;
    border: 2px dashed rgb(228, 228, 228);
    border-radius: 50%;
}

.member-name{
    margin-bottom: -5px;
}

footer{

   text-align: center;
}